# Environment and secrets
.env
credentials.json
token.json

# Python
__pycache__/
*.pyc
.venv/
/.venv
lambda-layer/

# IDE
.vscode/
.idea/ 
/.DS_Store
/lambda_function


/chatgpt-lambda-nodejs/node_modules
/chatgpt-lambda-nodejs/credentials.json
/chatgpt-lambda-nodejs/token.json
/chatgpt-lambda-nodejs/script_id.txt